#root {
  background: #f9f9f9;
  height: 100%;
}

.App {
  text-align: center;
}

.MuiBackdrop-root.backdrop {
  z-index: 99999;
  color: white;
}

.ui.label {
  word-wrap: anywhere;
}

.title {
  font-size: 30px;
  padding: 17px;
  font-weight: 700;
}

.label {
  display: inline-block;
  color: rgba(0,0,0,.6);
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.dataGrid {
  margin: 0 20px;
}

.dataPanel {
  padding-bottom: 5px;
}

.dataPanelRow { 
  display: flex;
  align-items: center;
  padding: 3px 0;
}

.dataPanelInput.MuiFormControl-root {
  flex: 1;
  margin: 0 5px;
}
