#root {
  height: 100%;
}

.App {
  text-align: center;
}

h1 {
  display: inline-block;
  color: rgba(0,0,0,.6);

  font-size: 30px;
  padding: 17px;
  font-weight: 700;
}

.dataPanelInput.MuiFormControl-root {
  flex: 1;
  margin: 0 5px;
}

.ant-table-cell .MuiIconButton-root {
  padding: 0;
}

.MuiDataGrid-root {
  background-color: white;
}

.ant-table-row:nth-of-type(2n) {
  background-color: rgb(250, 250, 250);
}
